html,body {
    font-family: '微軟正黑體', sans-serif !important;
}

.d-inline{
	display: inline-block;
}

.d-none{
	display: none;
}
body,.section-title h4,.section-title p,.section-title .view-all{
    color: #444;
}
.section-title:after{
    background: #666;
}
.m-b-5{
	margin-bottom: 5px !important;
}

.m-b-50{
	margin-bottom: 50px !important;
}

.map {
    height: 637px;
    min-height: initial;
}

.map-canvas2 {
    background: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    border-radius: 180px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.map-sub-canvas2 {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    background-color: rgb(229, 227, 223);
}

.gradient-overlay:after, .gradient-overlay-hover:after, .gradient-slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.loader3 .spin img {
    margin-top: 45px;
    max-width: 90px;
}

header .brand {
    display: inline-block;
    padding: 0;
    width: 13vw;
    line-height: 82px;
}

header .brand img{
    width: 100%
}
.circle-bg{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto 40px;
    background: url('../images/customer/contact.jpg') center center;
    background-size: cover;
    -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 10px solid #e3e3e3;
}
footer .subfooter{
    padding: 5px 0;
    background: #1c3c8b;
    color: #fff;
}
footer .footer-widgets .footer-widget .inner{
    padding-top: 0;
}
footer .footer-widgets{
    padding: 0;
}
.footer-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
}
footer .footer-widgets .footer-widget .footer-logo{
    margin-bottom: 0;
}
@media (max-width: 768px){
    .contact-info{
        margin-bottom: 30px;
    }
}

.all_box{width:1200px; max-width:100%; margin:0 auto; padding:0;}


.li03 {
    background-image: url(https://pic03.eapple.com.tw/chengtai/A_bg04.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 20px;
}

.step_T{
	text-align:center;
	padding: 80px 0 50px;}
.step_box1 {
    text-align: center;
    width: 10.5%;
    float: left;
}
.step_box1 img{
	width:90%;
	margin:auto;
	bottom:0;}
.step_box2 {
    width: 5%;
    float: left;
    margin: 0 1%;
}
.step_text {
    text-align: center;
    font-family: "微軟正黑體",Arail;
    background: #1d3c8b;
    color: #FFF;
    font-size: 14px;
    padding: 5px 10px 1px;
    margin: 25px 0 0;
    width: auto;
    letter-spacing: 1px;
}
.step_trn {
    width: 15px;
    height: 18px;
    background: #1d3c8b;
    -webkit-clip-path: polygon(100% 50%, 0% 100%,0% 0%);
    margin: 245% 40% 0;
}
.step_button {
    text-align: center;
    margin: 60px 0;
}
.step_button img:hover {
    padding-left: 25px;
    -webkit-transition: padding 0.2s cubic-bezier(0.55, 0.01, 0.42, 1);}

.room-services-list ul li{
    font-size: 23px;
    font-weight: 900;
    color: #20408e;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
}
.list-unstyled.line{
    border-left: 1.5px solid #20408e;
}
@media screen and (max-width: 768px)
{
.step_box1 {
    width: 100%;}
.step_box1 img {
    width: 50%;}
.step_text {
    margin: 10px auto 0;
    width: 200px;
	font-weight: 600;
	letter-spacing:2px;
}
.step_trn {
    width: 18px;
    height: 15px;
    background: #1d3c8b;
    -webkit-clip-path: polygon(100% 0%, 0% 0%,50% 100%);
    margin: 170% 960% 230%;}
.step_button img:hover {
    padding-left: 0;
}

}