html,body {
    font-family: '微軟正黑體', sans-serif !important;
}

.map {
    height: 400px;
}

.map-canvas2 {
    background: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    border-radius: 180px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.map-sub-canvas2 {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    background-color: rgb(229, 227, 223);
}

.gradient-overlay:after, .gradient-overlay-hover:after, .gradient-slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.4);
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
}

.loader3 .spin img {
    margin-top: 45px;
    max-width: 90px;
}

header .brand {
    display: inline-block;
    padding: 0;
    width: 13vw;
    line-height: 82px;
}

header .brand img{
    width: 100%
}